<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @revenue.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @revenue.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @revenue.amount %>
</p>

<%= link_to 'Edit', edit_revenue_path(@revenue) %> |
<%= link_to 'Back', revenues_path %>
