<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-6 col-md-offset-3">
 <div class="well">
  <div class="field">
    <%= f.label :name %>: Month<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %>: Year<br>
    <%= f.text_field :type %>
  </div>
      <br />
  <div class="actions">
    <%= f.submit class:'btn btn-success' %>
  </div>
<% end %>
</div>
</div>