<nav class="navbar navbar-inverse">
  <h1> Bugetting</h1>
</nav>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @category.type %>
</p>
<%= form_for([@category, Revenue.new]) do |f| %>
    <p><%= f.label :name, "New Revenue" %><br/>
      <%= f.text_field :name %> <br />
      <%= f.label :name, "Amount" %><br/>
      <%= f.text_field :amount %>
    </p>

    <p><%= f.submit "Add Income" %></p>
<% end %>
<%= form_for([@category, Cost.new]) do |c| %>
    <p><%= c.label :name, "New Cost" %><br/>
      <%= c.text_field :name %> <br />
      <%= c.label :name, "Amount" %><br/>
      <%= c.text_field :amount %>
    </p>

    <p><%= c.submit "Add Cost" %></p>
<% end %>
<br />

<table>
  <tbody>
  <div id="revenues">
    <% @category.revenues.each do |revenue| %>
        <%= div_for revenue do %>

            <tr>
              <td>
                <h3>Income</h3>
                <strong>Posted <%= time_ago_in_words(revenue.created_at) %></strong><br/>
                <%= h(revenue.name) %>
                <%= h(revenue.amount) %>
              </td>
            </tr>

        <% end %>
    <% end %>
  </div>

  <table>
    <tbody>
    <div id="cost">
      <% @category.costs.each do |cost| %>
          <%= div_for cost do %>

              <tr>
                <td>
                  <h3>Cost</h3>
                  <strong>Posted <%= time_ago_in_words(cost.created_at) %></strong><br/>
                  <%= h(cost.name) %>
                  <%= h(cost.amount) %>
                </td>
              </tr>

          <% end %>
      <% end %>
    </div>

    </tbody>
  </table>
</table>

<nav class="navbar navbar-default navbar-fixed-bottom" body="padding-bottom: 70px;"
>
  <div class="container">
    <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Back', categories_path %>
    <%= link_to 'Home', categories_path, class:'btn btn-default' %>
  </div>
</nav>
