<nav class="navbar navbar-inverse">
  <h1 align="center" style="color: #BBBBBB; font-family: 'Bitstream Vera Sans'">Budgetting</h1>

</nav>

<h4 style="font-family: 'cursive' ">Track your income, and costs by month!</h4>
<table class="table table-bordered table-hover table-responsive table">
  <thead style="align-self: center">
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.type %></td>
        <td><%= link_to 'Show', category, class:'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class:'btn btn-default' %></td>
        <td><%= link_to 'Destroy', category, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav class="navbar navbar-inverse navbar-fixed-bottom" style="align-self: center"
>
  <div class="container">

    <p class="navbar-text">
      <%= link_to 'New Month', new_category_path, class: 'btn btn-primary', style: 'align: center' %>

  </div>
</nav>
