<nav class="navbar navbar-inverse">
  <h1 align="center" style="color: #BBBBBB; font-family: 'Bitstream Vera Sans'"> Bugeting</h1>
</nav>
<h2 style="font-family: 'cursive' ">New Category</h2>

<%= render 'form' %>


<nav class="navbar navbar-inverse navbar-fixed-bottom" style="align-self: center"
>
  <div class="container">

    <p class="navbar-text">
      <%= link_to 'Back', categories_path, class: 'btn btn-primary', style: 'align: center' %>
      <%= link_to 'Home', categories_path, class: 'btn btn-primary', style: 'align: center' %></p>

  </div>
</nav>