<nav class="navbar navbar-inverse">
 <h1 align="center" style="color: #BBBBBB; font-family: 'Bitstream Vera Sans'"> Bugeting</h1>
<br />

</nav>
<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-3">
<p>
  <h3 style="font-family: Monaco; font-size: large">Month:
  <%= @category.name %></h3>
</p>

<p>
  <h3 style="font-family: Monaco; font-size: large">Year:
  <%= @category.type %></h3>
</p>
<p>
  <h3 style="font-family: Monaco; font-size: large">Current Budget
  <br /></h3>
  <strong>Total Income:</strong> <%= number_to_currency(@totalrevenue) %>
  <br />
  <strong>Total Costs:</strong> <%= number_to_currency(@totalcost) %>
  <br />
  <strong>Remaining Balance: </strong><%= number_to_currency(@balance) %>
</p>
<div class ="well">
  <%= form_for([@category, Revenue.new]) do |f| %>
    <p style="font-family: Monaco; font-size: medium"><%= f.label :name, "New Revenue" %><br/>
      <%= f.text_field :name %> <br />
      <%= f.label :name, "Amount" %><br/>
      <%= f.text_field :amount %>
    </p>

    <p style="font-family: Monaco; font-size: medium"><%= f.submit "Add Income", class:'btn btn-success' %></p>
<% end %>
<%= form_for([@category, Cost.new]) do |c| %>
    <p style="font-family: Monaco; font-size: medium"><%= c.label :name, "New Cost" %><br/>
      <%= c.text_field :name %> <br />
      <%= c.label :name, "Amount" %><br/>
      <%= c.text_field :amount %>
    </p>

    <p style="font-family: Monaco; font-size: medium"><%= c.submit "Add Cost", class:'btn btn-danger' %></p>
<% end %>
</div>
  <br />


<table class="table table-hover table-responsive table-bordered">
  <tbody>
  <div id="revenues">
    <% @category.revenues.each do |revenue| %>
        <%= div_for revenue do %>

            <tr>
              <td>
               <h3 style="font-family: Monaco; font-size: medium">Income</h3>
                <strong style="font-family: Monaco; font-size: medium">Posted <%= time_ago_in_words(revenue.created_at) %></strong><br/>
               <div class="well">
                <%= h(revenue.name) %>:
                <%= h(number_to_currency(revenue.amount)) %>
                 <%= link_to 'Destroy', revenue, method: :delete, data: { confirm: 'Are you sure?' } %>

               </div>
              </td>
            </tr>

        <% end %>
    <% end %>
  </div>

    <tbody style="background: #eeeeee">
    <div id="cost">
      <% @category.costs.each do |cost| %>
          <%= div_for cost do %>

              <tr>
                <td>
                  <h3 style="font-family: Monaco; font-size: medium">Cost</h3>
                  <strong style="font-family: Monaco; font-size: medium">Posted <%= time_ago_in_words(cost.created_at) %></strong><br/>
                  <div class="well">
                  <%= h(cost.name) %>:
                  <%= h(number_to_currency(cost.amount)) %>
                    <%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %>

                  </div>

                </td>
              </tr>

          <% end %>
      <% end %>
    </div>

  </tbody>

</table>

<nav class="navbar navbar-inverse navbar-static-bottom" style="align-self: center"
>
  <div class="container">

    <p class="navbar-text">
      <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-default', style: 'align: center' %>
      <%= link_to 'Back', categories_path, class: 'btn btn-default', style: 'align: center' %>
      <%= link_to 'Home', categories_path, class: 'btn btn-default', style: 'align: center' %></p>

  </div>

</nav>
</div>